.swiper-button.swiper-button-prev,
.swiper-button.swiper-button-next {
  position: static;
  display: inline-block;
  margin-top: 0;
  padding: 6px;
  width: 22px;
  height: 22px;
  border: 0;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-out;


  &::after {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    min-width: 10px;
    min-height: 10px;
    background-color: #316dc2;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-arrow-right-view");
    transition: background-color 0.3s ease-out;
  }

  @media (min-width: $tablet-width) {
    &:hover::after {
      background-color: $bg-active;
    }
  }

  &:focus-visible {
    outline: 0;
    background-color: #ffffff;

    &::after {
      background-color: $bg-hover-focus-active;
    }
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 0;
      background-color: #ffffff;

      &::after {
        background-color: $bg-hover-focus-active;
      }
    }
  }

  &:active {
    background-color: #ffffff;

    &::after {
      background-color: $bg-active;
    }
  }
}

.swiper-button.swiper-button-prev {
  &::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.swiper-button.swiper-button-disabled {
  &::after {
    background-color: $disabled-btn;
  }
}
