// Colors
$bg-color: #316dc2;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;

// States
$outline-focus-color: #484848;
$bg-hover-focus-active: #316dc2;
$bg-active: rgba(49, 109, 194, 0.7);
$disabled-btn: #a9afb7;
$bg-disabled-btn: rgba(255, 255, 255, 0.6);
